---
import Baselayout from "../layouts/Baselayout.astro";
import Nav from "../components/nav.astro";
import Footer from "../components/Footer.astro";
import SkillCard from "../components/Skillcard.astro";

import DIVI from "/public/competences/divi.png";
import Tailwind from "/public/competences/tailwind.png";
import React from "/public/competences/react.png";

import Figma from "/public/competences/Figma.png";
import VSCode from "/public/competences/VSC.png";
import Canva from "/public/competences/Canva.png";
import Krita from "/public/competences/Krita.png";
import Illustrator from "/public/competences/illu.png";
import WordPress from "/public/competences/WordpressLogo.png";
import AfterEffects from "/public/competences/AE.png";
import Photoshop from "/public/competences/Photo.png";
import HTML5 from "/public/competences/HTML5.png";
import CSS from "/public/competences/CSS.png";

const skills = [

  { src: HTML5.src, alt: "HTML5", name: "HTML5" },
  { src: CSS.src, alt: "CSS", name: "CSS" },
  { src: Tailwind.src, alt: "Tailwind", name: "Tailwind" },
  { src: React.src, alt: "React", name: "React" },
  { src: DIVI.src, alt: "DIVI", name: "DIVI" },
];

const softwares = [
  { src: Figma.src, alt: "Figma", name: "Figma" },
  { src: VSCode.src, alt: "VSCode", name: "VSCode" },
  { src: Canva.src, alt: "Canva", name: "Canva" },
  { src: Krita.src, alt: "Krita", name: "Krita" },
  { src: WordPress.src, alt: "WordPress", name: "WordPress" },
  { src: Illustrator.src, alt: "Illustrator", name: "Illustrator" },
  { src: Photoshop.src, alt: "Photoshop", name: "Photoshop" },
  { src: AfterEffects.src, alt: "AfterEffects", name: "AfterEffects" },
];
---

<Baselayout>
  <Nav />

  <section class="container mx-auto px-4 pt-20 md:pt-40 flex-grow z-10 max-w-6xl">
    <div class="mb-8 md:mb-16 text-center">
      <h2 class="text-4xl md:text-6xl font-bold tracking-tight pb-3 md:pb-5">
        Mes <span class="text-violet-400">compétences</span>
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-8 mt-6 md:mt-10 justify-center">
        {skills.map(skill => (
          <SkillCard src={skill.src} alt={skill.alt} name={skill.name} />
        ))}
      </div>
    </div>

    <div class="mb-8 md:mb-16 text-center">
      <h2 class="text-4xl md:text-6xl font-bold tracking-tight pb-3 md:pb-5">
        Les <span class="text-violet-400">Logiciels</span>
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-8 mt-6 md:mt-10 justify-center">
        {softwares.map(software => (
          <SkillCard src={software.src} alt={software.alt} name={software.name} />
        ))}
      </div>
    </div>
  </section>

  <Footer />
</Baselayout>