--- 
import Baselayout from "../layouts/Baselayout.astro"; 
import Nav from "../components/nav.astro"; 
import Footer from "../components/Footer.astro"; 

import DIVI from "/public/divi.png"; 
import Tailwind from "/public/tailwind.png"; 
import React from "/public/react.png"; 

import Figma from "/public/Figma.png"; 
import VSCode from "/public/VSC.png"; 
import Canva from "/public/Canva.png"; 
import Krita from "/public/Krita.png"; 
import Illustrator from "/public/AI.png"; 
import WordPress from "/public/Wordpress.png"; 
import AfterEffects from "/public/AE.png"; 
import Photoshop from "/public/Photoshop.png"; 
--- 
<Baselayout>
    <Nav />
  
    <section class="container text-white mx-auto px-4 pt-40 flex-grow z-10 max-w-6xl">
      <div class="mb-16">
        <h2 class="text-5xl md:text-6xl font-bold tracking-tight pb-5 text-center">
          Mes <span class="text-violet-400">compétences</span>
        </h2>
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 mt-10 flex justify-center">
          <div class="group flex flex-col items-center rounded-lg p-6 bg-blue-600 hover:bg-blue-500 transition-all duration-300 shadow-lg hover:shadow-xl transform hover:scale-105">
            <div class="w-24 h-24 rounded-full border-4 border-white flex items-center justify-center mb-4">
              <img src={DIVI.src} alt="DIVI" class="w-20 h-20 object-contain group-hover:scale-110 transition-transform duration-300" />
            </div>
            <span class="text-lg font-bold group-hover:text-yellow-300">DIVI</span>
          </div>
          <div class="group flex flex-col items-center rounded-lg p-6 bg-blue-600 hover:bg-blue-500 transition-all duration-300 shadow-lg hover:shadow-xl transform hover:scale-105">
            <div class="w-24 h-24 rounded-full border-4 border-white flex items-center justify-center mb-4">
              <img src={Tailwind.src} alt="Tailwind" class="w-20 h-20 object-contain group-hover:scale-110 transition-transform duration-300" />
            </div>
            <span class="text-lg font-bold group-hover:text-yellow-300">Tailwind</span>
          </div>
          <div class="group flex flex-col items-center rounded-lg p-6 bg-blue-600 hover:bg-blue-500 transition-all duration-300 shadow-lg hover:shadow-xl transform hover:scale-105">
            <div class="w-24 h-24 rounded-full border-4 border-white flex items-center justify-center mb-4">
              <img src={React.src} alt="React" class="w-20 h-20 object-contain group-hover:scale-110 transition-transform duration-300" />
            </div>
            <span class="text-lg font-bold group-hover:text-yellow-300">React</span>
          </div>
        </div>
      </div>
  
      <div class="mb-16">
        <h2 class="text-5xl md:text-6xl font-bold tracking-tight pb-5 text-center">
          Les <span class="text-violet-400">Logiciels</span>
        </h2>
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 mt-10">
          <div class="group flex flex-col items-center rounded-lg p-6 bg-blue-600 hover:bg-blue-500 transition-all duration-300 shadow-lg hover:shadow-xl transform hover:scale-105">
            <div class="w-24 h-24 rounded-full border-4 border-white flex items-center justify-center mb-4">
              <img src={Figma.src} alt="Figma" class="w-20 h-20 object-contain group-hover:scale-110 transition-transform duration-300" />
            </div>
            <span class="text-lg font-bold group-hover:text-yellow-300">Figma</span>
          </div>
          <div class="group flex flex-col items-center rounded-lg p-6 bg-blue-600 hover:bg-blue-500 transition-all duration-300 shadow-lg hover:shadow-xl transform hover:scale-105">
            <div class="w-24 h-24 rounded-full border-4 border-white flex items-center justify-center mb-4">
              <img src={VSCode.src} alt="VSCode" class="w-20 h-20 object-contain group-hover:scale-110 transition-transform duration-300" />
            </div>
            <span class="text-lg font-bold group-hover:text-yellow-300">VSCode</span>
          </div>
          <div class="group flex flex-col items-center rounded-lg p-6 bg-blue-600 hover:bg-blue-500 transition-all duration-300 shadow-lg hover:shadow-xl transform hover:scale-105">
            <div class="w-24 h-24 rounded-full border-4 border-white flex items-center justify-center mb-4">
              <img src={Canva.src} alt="Canva" class="w-20 h-20 object-contain group-hover:scale-110 transition-transform duration-300" />
            </div>
            <span class="text-lg font-bold group-hover:text-yellow-300">Canva</span>
          </div>
          <div class="group flex flex-col items-center rounded-lg p-6 bg-blue-600 hover:bg-blue-500 transition-all duration-300 shadow-lg hover:shadow-xl transform hover:scale-105">
            <div class="w-24 h-24 rounded-full border-4 border-white flex items-center justify-center mb-4">
              <img src={Krita.src} alt="Krita" class="w-20 h-20 object-contain group-hover:scale-110 transition-transform duration-300" />
            </div>
            <span class="text-lg font-bold group-hover:text-yellow-300">Krita</span>
          </div>
          <div class="group flex flex-col items-center rounded-lg p-6 bg-blue-600 hover:bg-blue-500 transition-all duration-300 shadow-lg hover:shadow-xl transform hover:scale-105">
            <div class="w-24 h-24 rounded-full border-4 border-white flex items-center justify-center mb-4">
              <img src={Illustrator.src} alt="Illustrator" class="w-20 h-20 object-contain group-hover:scale-110 transition-transform duration-300" />
            </div>
            <span class="text-lg font-bold group-hover:text-yellow-300">Illustrator</span>
          </div>
          <div class="group flex flex-col items-center rounded-lg p-6 bg-blue-600 hover:bg-blue-500 transition-all duration-300 shadow-lg hover:shadow-xl transform hover:scale-105">
            <div class="w-24 h-24 rounded-full border-4 border-white flex items-center justify-center mb-4">
              <img src={WordPress.src} alt="WordPress" class="w-20 h-20 object-contain group-hover:scale-110 transition-transform duration-300" />
            </div>
            <span class="text-lg font-bold group-hover:text-yellow-300">WordPress</span>
          </div>
          <div class="group flex flex-col items-center rounded-lg p-6 bg-blue-600 hover:bg-blue-500 transition-all duration-300 shadow-lg hover:shadow-xl transform hover:scale-105">
            <div class="w-24 h-24 rounded-full border-4 border-white flex items-center justify-center mb-4">
              <img src={AfterEffects.src} alt="AfterEffects" class="w-20 h-20 object-contain group-hover:scale-110 transition-transform duration-300" />
            </div>
            <span class="text-lg font-bold group-hover:text-yellow-300">AfterEffects</span>
          </div>
          <div class="group flex flex-col items-center rounded-lg p-6 bg-blue-600 hover:bg-blue-500 transition-all duration-300 shadow-lg hover:shadow-xl transform hover:scale-105">
            <div class="w-24 h-24 rounded-full border-4 border-white flex items-center justify-center mb-4">
              <img src={Photoshop.src} alt="Photoshop" class="w-20 h-20 object-contain group-hover:scale-110 transition-transform duration-300" />
            </div>
            <span class="text-lg font-bold group-hover:text-yellow-300">Photoshop</span>
          </div>
        </div>
      </div>
  
    </section>
  
    <Footer />
</Baselayout>